table {
    background-color: black; padding: 10px
}
td {
    vertical-align: center; padding:2px
}
.in{
    font: normal 14px Arial,sans-serif;
    width:100%;
    padding: 6px 2px;
    color: darkslategray;
}
.lab{
    font: bold 14px Arial, sans-serif;
    color: white;
}


